
Macs Countdown.xcodeproj/project.xcworkspace/xcuserdata/loyihsu.xcuserdatad/UserInterfaceState.xcuserstate
Macs Countdown.xcodeproj/xcuserdata/loyihsu.xcuserdatad/xcschemes/xcschememanagement.plist
Release/Macs Countdown 2019-07-09 03-42-57/.DS_Store
Release/.DS_Store
.DS_Store
Macs Ager.xcodeproj/project.xcworkspace/xcuserdata/loyihsu.xcuserdatad/UserInterfaceState.xcuserstate
Macs Ager.xcodeproj/project.xcworkspace/xcuserdata/loyihsu.xcuserdatad/UserInterfaceState.xcuserstate
